<div class="container-fluid">
  <% for row in @books['rows'] %>
    <div class="book-list-item row">
      <% for book in row['books'] %>
        <div class="col-sm">
          <div class="book-cel">
            <div class="row"><img src="Sample_image-3.jpg" alt="Sample Book Cover that we are using repeatedly" height="180" width="140"></div>
            <div class="title row"><%= book['Title'] %></div>
            <div class="type row"><%= book['Type'] %></div>
            <div class="row">Publisher <%= book['Publisher'] %></div>
            <div class="row">Date of Publication <%= book['Year'] %></div>
            <div class="row">ISBN <%= book['ISBN'] %></div>
            <div class="row">Price <%= book['Price'] %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
